body {
	background-color: rgb(230, 230, 230);
}
#canvas {
	position: relative;
	margin: 0 auto;
	background-color: #fff;
}
.food {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
}
